<!doctype html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://distill.pub/template.v2.js"></script>
  <style><%= require("raw-loader!../static/style.css") %></style>
</head>

<body>

<d-front-matter>
  <script type="text/json">{
  "title": "Learning a Sentence Embedding by Actuation",
  "description": "CSCI 599 Course Project Final Report",
  "password": "svgs",
  "authors": [
    {
      "author": "Team DeepJohn",
      "authorURL": "https://github.com/zhanpenghe/embed2learn/",
      "affiliation": "University of Southern California",
      "affiliationURL": "https://www.cs.usc.edu/"
    }
  ],
  "katex": {
    "delimiters": [
      {
        "left": "$",
        "right": "$",
        "display": false
      },
      {
        "left": "$$",
        "right": "$$",
        "display": true
      }
    ]
  }
  }</script>
</d-front-matter>

<d-title></d-title>

<d-article>

  <h2>
    Goal
  </h2>
  <p>
    In recent years there has been great progress in algorithms in the field of deep reinforcement learning (DRL).
    These algorithms have been applied to learning complex and diverse skills from raw observations.
    Among these successes, learning representations of tasks in the form of latent space is demonstrated 
    to be useful for learning composable skills \citep{hausman2018learning}.
    While skills can be defined discretely with labels and used for planning, in real life,
    humans tend to use natural language to describe a task.
    For example, people can ask "take the cup from home, get on the bus to the office, and give it to me."
    Such natural language instructions provide an expressive way to describe skill primitives 
    and allow the human to be in the loop to assist an agent.
  </p>

  <h2>
    Motivation
  </h2>
  <p>
    We propose a novel method that learns an embedding function that 
    embeds natural language sentences and their composability properties 
    (eg. concatenation) to a continuous latent space.
    Jointly, our approach also learns a policy that conditions on a latent 
    variable and state information with reinforcement learning and 
    variational inference. 
    We will explore the property of our latent space and utilize it 
    as a planning tool for complicated tasks.  
  </p>

  <figure class="subgrid">
    <figcaption style="grid-column: kicker">
      <!-- <span class="figure-number">Figure 1:</span> -->
      <span style="hyphens: manual;">As long as an </span>
      <span style="background-color: #FFF1E7; padding-left: 2px; padding-right: 2px;">image para&shy;meter&shy;ization</span>
      <span>is differ&shy;entiable, we can back&shy;propagate</span>
      <span style="white-space: nowrap;">( <img src="diagrams/backprop-arrow.svg" style="width: unset;"/> )</span>
      <span>through it.</span>
    </figcaption>
    <div class="l-body">
      <%= require("../static/diagrams/general.svg") %>
    </div>
  </figure>

  <p>
    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
    <d-footnote>Test! Let's cite<d-cite key="gatys2015"></d-cite> someone!</d-footnote>
    More text!
  </p> 

</d-article>



<d-appendix>
  <h3>Acknowledgments</h3>
  <p>
    We are deeply grateful to...
  </p>

  <p>
    Many of our diagrams are based on...
  </p>

  <h3>Author Contributions</h3>
  <p>
    <b>Research:</b> Alex developed ...
  </p>

  <p>
    <b>Writing & Diagrams:</b> The text was initially drafted by...
  </p>


  <d-footnote-list></d-footnote-list>
  <d-citation-list></d-citation-list>
</d-appendix>

<!-- bibliography will be inlined during Distill pipeline's pre-rendering -->
<d-bibliography src="bibliography.bib"></d-bibliography>

</body>
